.app-container {
  display: flex;
}

.content {
  width: 100%;
  height: auto;
}

.sidebar {
  min-height: 800px;
}

.tags {
  margin: 10px;
}

.Create_Post {
  width: 80%;
  margin-left: 50px;
}

.spinner {
  margin-left: 500px;
  margin-top: 200px;
}

.card-post {
  font-size: 20px;
  margin: 20px 50px;
}